/* .slide_container {

    background-image: linear-gradient(rgb(106, 146, 249), rgba(82, 147, 161, 0.6194), rgba(199, 242, 105, 0.96));
}  */

/* boredr of the frame */
#alpha {
    overflow: hidden;
    border: 5px solid rgb(86, 119, 209);
    border-radius: 5%;
    height: 750px;
    width: 1900px;
    margin-top: 2vh;
    position: relative;
    transform: translate(-50%,-10);
    left: 5%;
    }

/* time of each image with size and position */
#alpha figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 10s alpha infinite;
}

#alpha .figure1 .sliding_image {
    float: left;
    width: 20%;

}

@keyframes alpha {
    0% {
        left: 0%;
    }

    15% {
        left: 0%;
    }

    20% {
        left: -100%;
    }

    35% {
        left: -100%;
    }

    40% {
        left: -200%;
    }

    55% {
        left: -200%;
    }

    60% {
        left: -300%;
    }

    75% {
        left: -300%;
    }

    80% {
        left: -400%;
    }

    100% {
        left: -400%;
    }
}