{% load static %}
<!doctype html>
<html>

<head>
    <title>
        {% block title%} {% endblock title %}
    </title>
    <meta name="description" content="Our first page">
    <meta name="keywords" content="html tutorial template">
    <link rel="stylesheet" href="{% static '/css/name_and_icon.css' %}">
    <link rel="stylesheet" href="{% static '/css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/title_bar.css' %}">
</head>

<body>
    {% block content %} {% endblock content %}
</body>

</html>