{% load static %}
<!doctype html>
<html>

<head>
    <title>
        {% block title%} {% endblock title %}
    </title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Our first page">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="html tutorial template">
    <link rel="stylesheet" href="{% static '/css/name_and_icon.css' %}">
    <link rel="stylesheet" href="{% static '/css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/title_bar.css' %}">
    <link rel="stylesheet" href="{% static 'css/home-mid2.css' %}">
    <link rel="stylesheet" href="{% static 'css/sliding_photo.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/sliding_photo.css' %}">

    <!-- <link rel="stylesheet" href="{% static 'sliding_photo.css' %}"> -->

</head>

<body>
    {% block content %} {% endblock content %}
</body>

</html>