/*Top Component of home page Style Sheet*/



.title_bar {
    position: absolute;
    width: 100%;
    height: 40px;
    top: 0;
    left: 0;

    background: #00B2FF;
    display: flex;
}

.title_logo {
    position: relative;
    /* background: #ff2f00; */
    left: 15%;
    padding: .1%;
    top: 2%;

}

.title_logo .img {

    display: flex;
    /* top: 50%; */
}

.title_text {
    position: relative;
    display: flex;
    left: 20%;
    background-color: #ed866f;
    /* font-weight: 700px; */
    /* font-size: 35px; */
}

.text {
    display: flex;
    position: relative;
    top: 0;
    font-weight: 700px;
    font-size: 35px;
    color: #ff0000;
}

.profile_icon {

    display: flex;
    position: inherit;
    background: #ff2f00;
    float: right;
    right: 15%;
    padding: .1%;
    top: 2%;
}