* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Do Hyeon"; */
}


/* Background  */
.navigation-header {
    z-index: 1;
    position: fixed;
    top: 3em;
    left: 0;
    width: 100%;
    height: 2.5em;
    margin: 0;
    padding: 0;
    padding-right: 50px;
    padding-left: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*Nav Bar Background Colour*/
    background: #7b52ec;
    /* box-shadow: 0 5px 25p rgba(100, 100, 100, 0.7); */
    transition: 0.6s;

}

.navigation-header .navigations-list {
    position: relative;
    line-height: 70px;



}

/* Item of navbar */
.navigation-header .navigations-list .menu {
    position: relative;
    display: flex;
    justify-content: center;
    list-style: none;
    user-select: none;

}

/* Anchore button of dropdown */
.menu-item>a {
    /* Menu Item Text Colour */
    color: #ffffff;
    height: 2.4em;
    font-size: 1.3em;
    text-decoration: none;
    margin: 0 10px;
    padding: 0;


}

.menu-item>a:hover {
    /* color: #62b8e0; */
    display: block;
    /*Nav bar menu item background hover Colour  */
    background-color: #4e16e6;
    transition: 0.5s;
}



/* Drop Down  */
.menu-item .sub-menu {
    position: absolute;
    /* Dropdown menu item background Colour  */
    background: #b697ff;
    width: 200px;
    top: 34px;
    line-height: 20px;
    list-style: none;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 5px 25px rgb(0 0 0/ 20%);
    pointer-events: none;
    transform: translateY(20px);
    opacity: 0;
    transition: 0.5;
    transition-property: transform, opacity;

}

.menu-item .sub-menu-button:hover .sub-menu {
    pointer-events: all;
    transform: translateY(20px);
    opacity: 1;
    transition: 0.5;


}

.menu-item .sub-menu .sub-item {
    position: relative;
    padding: 7px;
    cursor: pointer;
    box-shadow: inset 0px -30px 5px -30px rgba(255, 255, 255, .2);


}

.menu-item .sub-menu .sub-item a {
    /*Dropdown item text Colour */
    color: #ffffff;
    font-size: 1em;
    font-weight: 700px;
    text-decoration: none;
    padding: 15px 15px;

}

.menu-item .sub-menu .sub-item:hover {

    /*Dropdown item text hover Colour */
    color: #ffffff;
    /*Dropdown item background hover Colour */
    background-color: #4e16e6;
}

.menu-item .sub-menu .sub-item:last-child:hover {
    border-radius: 0 0 8px 8px;

}

/* Drop Down srrow design begin */
.arrow {
    border: solid rgb(255, 255, 255);
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

/* end */




/* Responsive ness improve */
@media(max-width:1022px) {
    .navigation-header .navigations-list .menu {

        position: fixed;
        display: block;
        /* Responsive Navbar (sidebar right) backgrounf Colour */
        background: #6d5a9b;
        min-width: 350px;
        height: 100vh;
        top: 0;
        right: 0;
        padding: 90px 50px;
        overflow-y: auto;
    }

    .menu-item {
        position: relative;

    }

    .menu-item .sub-menu {
        opacity: 1;
        position: relative;
        top: 0;
        transform: translateX(10px);
        background: rgba(255, 255, 255, .1);
        border-radius: 5px;
        overflow: hidden;
        display: none;
        transition: 0.5s;

    }

    .menu-item:hover .sub-menu {
        transform: translateX(10px);

    }

    .menu-item .sub-menu-button:hover .sub-menu {

        transform: translateY(20px);

    }

    .menu-item>a:hover {
        /* color: #62b8e0; */
        display: inline;

        /*Nav bar menu item hover Colour */
        /* this should be same as Navbar (sidebar right) background  */

        background-color: #6d5a9b;
        transition: 0.5s;
    }

    .menu-item .sub-menu .sub-item {
        box-shadow: none;
    }

    .menu-item .sub-menu .sub-item:hover {
        background: none;
    }

    .menu-item .sub-menu .sub-item a:hover {
        /*responsive nav bar( side bar ) Submenu Hover Colour */
        color: #b697ff;
        transition: 0.3s;
    }


}