.title_bar {
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3em;
    margin: 0;
    padding: 0;
    padding-right: 50px;
    padding-left: 50px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    /*Title bar Background colour */
    background: #35C3BB;
    /* box-shadow: 0 5px 25p rgba(100, 100, 100, 0.7); */
    transition: 0.6s;

}

.title_text {
    /*Title bar text colour*/
    color: white;
    font-size: 1.8em;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 2px;
    margin: 40% 5%;
}

.profile_icon {
    z-index: 4;
    position: fixed;
    right: 5%;
    margin: .1%;

}

.profile_icon img {
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}